<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <targets>
    <target name="corefile" xsi:type="File" layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=ToString,StackTrace}" fileName="${basedir}/LCInstallNET.core.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="corefile" />
  </rules>
</nlog>
